* {
    border: solid red 1px;
    margin: 0px;
    width: 411px;
    height: 1272px;
    background-color: white;
}

body {
    background-color: white;
}

#statusBar{
    height: 30px;
    width: 411px;
    align-items: flex-start;
}

#plantIcon{
    height: 181px;
    width: 181px;
    margin: auto;
}

#bottomNav {
    height: 58px;
    width: 411px;
    align-items:flex-end;
}